@import url('https://fonts.googleapis.com/css?family=Lobster|Ubuntu');

$fonts:  'Ubuntu', sans-serif;//'Lato',verdana, sans-serif;
$font_ideaLine: 'Lobster', cursive;//Calibri;


$color_backgound:         #00688b;

$color_mega_dark_blue:    #003A4D;
$color_extreme_dark_blue: #00435a;
$color_very_dark_blue:    #004f69;

$color_light_blue:        #0086b3;
$color_very_light_blue:   #00bfff;


$pic_self: url('../../gfx/profilePicMin.jpg');
$pic_programmingGIF: url('../../gfx/programming1-comp.gif');
$pic_proj_etics: url('../../gfx/eticsScreen-comp.png');
$pic_proj_stesi: url('../../gfx/stesiscreen-comp.png');
$pic_proj_ehc: url('../../gfx/ehcscreen-comp.png');
$pic_proj_whitevoid: url('../../gfx/whiteVoid_logo-comp.png');
$pic_comp_ejot: url('../../gfx/comp_ejot-comp.png');
$pic_comp_nseven: url('../../gfx/comp_n7even-comp.png');


html, body
{
    font-family: $fonts;

    margin: 0px;
    padding: 0px;
}

body
{
    background-color: $color_backgound;
}

a
{
    text-decoration: none;
    color: aqua;
}

nav
{
    background-color: $color_very_dark_blue;

    position: fixed;
    top: 0px;
    left: 0px;

    height: 60px;
    width: 100%;

    margin: 0px;
    padding: 0px;

    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);

    z-index: 1300;

    ul
    {
        width: 720px;
        height: 100%;
        padding: 0px;
        margin: auto;

        li
        {
            list-style: none;
            width: 26%;
            float: left;
            text-align: center;
            height: 100%;
            color: white;
            cursor: pointer;
            line-height: 60px;
            font-size: 22px;
            color: $color_light_blue;

            transition: .3s all;

            &.short
            {
                width: 11%;
            }

            &:hover
            {
                color: white;
                box-shadow: inset 0px -5px 0px $color_very_light_blue; //#f1ec6f
            }

            a
            {
                text-decoration: none;
                color: $color_light_blue;

                &:hover
                {
                    text-decoration: none;
                    color: $color_light_blue;
                }
            }
        }
    }
}

section
{
    margin: auto;
    width: 720px;
    position: relative;
}

#subShadowContent
{
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
    margin: auto;
    width: 720px;
    border-radius: 18px 18px 18px 18px;
    transform: translateY(700px);
    opacity: 0;
    transition: all 1.2s ease-in-out;

    &.isShowing
    {
      opacity: 1;
      transform: translateY(0px);
    }
}

#picture
{
    margin-top: 100px;
    z-index: 80;
    box-shadow: none;
    opacity: 0;
    transform: translateY(-700px);
    transition: all 1.2s;

    &.isShowing
    {
      opacity: 1;
      transform: translateY(0px);
    }

    .picMe
    {
        margin: auto;
        width: 250px;
        height: 250px;
        border-radius: 200px;
        box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
        background-image: $pic_self;
        background-size: cover;
        border: 5px solid $color_backgound;

        box-shadow: inset 4px 4px 0px rgba(255, 255, 255, 0.2),
                    inset -4px -4px 0px rgba(0, 0, 0, 0.2);

        &:hover .picLayover
        {
            opacity: 1;
        }

        .picLayover
        {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 200px;
            opacity: 0;
            transition: .5s all;

            li
            {
                color: rgba(255, 255, 255, .5);
                margin: auto;
                width: 150px;
                height: 40px;
                list-style: none;
                font-size: 22px;
                text-align: center;
                border: 3px solid rgba(255, 255, 255, .5);
                border-radius: 6px;
                cursor: pointer;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                transition: .5s all;

                &:hover
                {
                    color: white;
                    border: 3px solid white;
                }

                &:hover a
                {
                    color: white;
                }

                a
                {
                    color: rgba(255, 255, 255, .5);
                    transition: .5s all;
                    text-decoration: none;
                }
            }
        }
    }
}

.pinched
{
    position: absolute;
    left: 10px;
    right: 10px;
    padding: 15px;
    margin: 22px 0 3em;
    color: #fff;
    background: $color_mega_dark_blue;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 20px 20px 10px 10px;
    height: 590px;
    opacity: 0;
    z-index: -1;
    transition: all .4s;
    transform: translateY(700px);
    border: 4px solid $color_very_dark_blue;

    &:after
    {
        content: "";
        position: absolute;
        top: -15px;
        left: 50%;
        margin-left: -15px;
        border-style: solid;
        border-width: 0 15px 15px;
        border-color: $color_mega_dark_blue transparent;
        display: block;
        width: 0;
        z-index: 1;
    }

    &.isShowing
    {
        transform: translateY(0px);
        opacity: 1;
        z-index: 1200;
    }

    .introTxt
    {
        position: absolute;
        top: 50%;
        height: 550px;
        margin-top: -275px;
        font-size: 16px;
        line-height: 30px;
        padding: 0px 20px;
        font-size: 18px;

        .super
        {
            font-size: 24px;
        }

        .cutline
        {
            height: 2px;
            width: 99%;
            background: white;
            margin: 20px auto;
            border-radius: 8px 8px;
        }
    }
}

#tanszone
{
    margin-top: -65px;
    height: 80px;
    background: $color_extreme_dark_blue;
    border-radius: 18px 18px 0px 0px;
    border-top: 4px solid $color_light_blue;

    li
    {
        list-style: none;
        color: white;
        float: left;
        width: 240px;
        height: 100%;
        line-height: 80px;
        text-align: center;
        font-size: 32px;
    }
}

#aboutMe
{
    background: $color_light_blue;
    height: 350px;
    color: $color_very_dark_blue;
    font-family: $fonts;

    .moreInfoBtn
    {
        position: relative;
        top: 20px;
        margin: auto;
        text-align: center;
        width: 200px;
        height: 50px;
        border: 5px solid $color_very_dark_blue;
        border-radius: 8px;
        font-size: 21px;
        line-height: 40px;
        cursor: pointer;
        transition: all .5s;

        &:after
        {
            transition: all .5s;
            content: "";
            position: absolute;
            bottom: -5px;
            left: 50%;
            margin-left: -15px;
            border-style: solid;
            border-width: 0 15px 0px;
            border-color: $color_very_dark_blue transparent;
            display: block;
            width: 0;
            z-index: 1;
        }

        &:hover
        {
            border: 5px solid white;
            color: white;

            &:after
            {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 50%;
                margin-left: -15px;
                border-style: solid;
                border-width: 0 15px 15px;
                border-color: white transparent;
                display: block;
                width: 0;
                z-index: 1;
            }
        }

        &.activated
        {
            border: 5px solid white;
            color: white;

            &:after
            {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 50%;
                margin-left: -15px;
                border-style: solid;
                border-width: 0 15px 15px;
                border-color: white transparent;
                display: block;
                width: 0;
                z-index: 1;
            }
        }
    }

    .skillset
    {
        margin-top: 30px;

        .skill
        {
            display: inline-block;
            margin: 5px 5px;

            background: $color_very_dark_blue;
            color: white;
            min-width: 100px;
            height: 40px;
            font-size: 23px;
            text-align: center;
            padding: 0px 15px;
            line-height: 40px;
            border-radius: 12px 12px 12px 12px;

            cursor: pointer;

            transform: translateX(-200px);
            opacity: 0;
            transition: all .5s;

            &.isShowing
            {
                transform: translateX(0px);
                opacity: 1;
            }

            &:hover
            {
                background: $color_mega_dark_blue;
            }
        }
    }
}



#jobDesc
{
    background: $color_light_blue;
    display: flex;
    flex-direction: row;
    height: 0px;
    transition: all 0.6s cubic-bezier(.87, -.41, .19, 1.44);
    overflow: hidden;

    .word
    {
        flex-grow: 1;

        width: 200px;
        text-align: center;
        line-height: 100px;
        color: $color_mega_dark_blue;
        font-size: 32px;
        list-style: none;

        opacity: 0;
        transform: translateY(-150px);
        transition: all 1.6s cubic-bezier(.87, -.41, .19, 1.44);

        &.isShowing
        {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .bottom
    {
        transform: translateY(150px);
    }

    .first
    {

      flex-grow: 0;

      transform: translateX(-100px);
      text-align: right;

      &.isShowing
      {
          opacity: 1;
          transform: translateX(0px), scale(1.5, 1.5);
      }
    }

    .sec
    {
      transform: translateX(100px);
      text-align: left;
      flex-grow: 0;

      &.isShowing
      {
          opacity: 1;
          transform: translateX(0px), scale(1.5, 1.5);
      }
    }

    &.isShowing
    {
        height: 100px;
    }
}

#socialMedia
{
    background: $color_extreme_dark_blue;
    height: 0px;
    transition: all .2s;

    ul
    {
        margin: auto;
        width: 300px;
        height: 100%;
        padding: 0px;

        a
        {
            opacity: 0;

            list-style: none;
            width: 100px;
            height: 100px;
            margin: auto;
            text-align: center;
            line-height: 100px;
            font-size: 62px;
            color: $color_light_blue;
            cursor: pointer;
            float: left;

            transform: translateX(-60px);
            transition: .5s all cubic-bezier(.87, -.41, .19, 1.44);

            &:hover i
            {
                transform: scale(1.2, 1.2);
                color: white;
            }

            &.isShowing
            {
                opacity: 1;
                transform: translateX(0px);
            }

            i
            {
               transition: .3s all cubic-bezier(.87, -.41, .19, 1.44), .4s color linear;
            }
        }
    }

    &.isShowing
    {
        height: 100px;
    }
}

#skills
{
    background: $color_light_blue;
    height: 380px;
    color: $color_very_dark_blue;

    .wrapper
    {
        position: absolute;
        width: 100%;
        height: 300px;
        top: 50%;
        margin-top: -150px;

        .headline
        {
            width: 100%;
            height: 60px;
            text-align: center;

            li
            {
                list-style: none;
                font-size: 42px;
                line-height: 60px;
            }
        }

        .cutline
        {
            margin-top: 20px;
            height: 3px;
            width: 70%;
            margin: auto;
            background: $color_very_dark_blue;
        }

        table
        {
            margin: auto;
            width: 70%;
        }

        table, th, td
        {
            border-collapse: collapse;
        }

        th, td
        {
            padding: 25px;
            color: $color_very_dark_blue;
            font-size: 16px;
            font-weight: 800;
        }

        .skillItem
        {
            opacity: 0;
            transform: translateX(-30px);
            transition: all 1s;

            &.isShowing
            {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }
}

/*
#skills th, #skills td
{
    padding: 25px;
    color: #004f69;
    font-size: 16px;
    font-weight: 800;
}*/

.right
{
    display: inline-block;
    float: right;
    color: $color_very_light_blue;
}

#liveProgramming
{
    height: 319px;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    background:
    {
        image: $pic_programmingGIF;
        size: auto auto;
        attachment: fixed;
        position: center;
        repeat: no-repeat;
    }

    &:hover .disclaimer
    {
        opacitiy: 1;
        transform: translateX(0%);
    }

    .disclaimer
    {
        position: absolute;
        top: 50%;
        right: 0px;
        margin-top: -50px;

        height: 100px;
        width: 270px;
        opacitiy: 0;

        border-bottom: 100px solid rgba(0, 0, 0, 0.8);
        border-left: 30px solid transparent;
        border-right: 0px solid transparent;
        height: 0;
        width: 300px;
        line-height: 100px;
        transform: translateX(100%);
        transition: all 0.6s cubic-bezier(.87, -.41, .19, 1.44);

        li
        {
            font-size: 32px;
            color: white;
            text-align: center;
            list-style: none;
        }
    }
}

#contact
{
    background: $color_extreme_dark_blue;
    height: 380px;

    .wrapper
    {
        position: absolute;
        top: 50%;
        height: 200px;
        width: 100%;
        margin-top: -100px;

        li
        {
            width: 100%;
            list-style: none;
            font-size: 42px;
            line-height: 70px;
            color: $color_light_blue;
            text-align: center;
            height: 70px;
        }
    }

    .contactMeBtn
    {
        width: 100%;
        text-align: center;
        cursor: pointer;
        height: 100px;

        opacity: 0;
        transform: scale(0.2, 0.2);
        transition: 3s all;
        border: 0;

        a
        {
            display: inline-block;
            line-height: 100px;
            font-size: 74px;
            font-family: $fonts;
            transition: .2s all;


            background: #0087cc;
            border-radius: 14px;
            box-shadow: 0 8px 0 #006599,
                        0px 0px 60px rgba(0, 0, 0, 0.2);
            color: #fff;
            cursor: pointer;
            margin: 10px 10px;
            outline: 2px;
            padding: 12px 20px;

            &:hover
            {
                color: white;
            }

            &:active {
              box-shadow: 0 2px 0 #006599,
                          0px 0px 60px rgba(0, 0, 0, 0.1);

             transform: translateY(6px);
            }
        }

        &.isShowing
        {
            opacity: 1;
            transform: scale(1, 1);
        }
    }
}

#workScope
{
    height: 300px;
    position: relative;
    overflow: hidden;
    transition: .3s all;

    li
    {
        list-style: none;
        font-size: 32px;
        text-align: center;
        color: white;
        line-height: 100px;
    }

    &.isClosed
    {
        height: 0px;
    }

    &.isHalfClosed
    {
        height: 100px;
    }

    #stepCounter
    {
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: 75px;
        height: 50px;
        background: white;
        border-radius: 999px;

        z-index: 99;
        opacity: 0.5;
        transition: all 0.6s cubic-bezier(.87, -.41, .19, 1.44);
        cursor: pointer;

        p
        {
            text-align: center;
            font-size: 10px;
            line-height: 10px;
        }

        .cText
        {
            list-style: none;
            font-size: 18px;
            text-align: center;
            line-height: 10px;
        }

        &:hover
        {
            opacity: 1;
        }
    }

    #workScope_error
    {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        cursor: pointer;
        color: white;
        z-index: 999;

        p
        {
            text-align: center;
            font-size: 18px;
        }
    }

    #typeWrapper
    {
        display: flex;
        flex-direction: row;
        margin: 40px 20px;

        #type
        {
            flex-grow: 1;
            text-align: center;
            color: white;
            font-size: 40px;
            color: $color_light_blue;
            transition: all .3s;
            cursor: pointer;

            li
            {
                font-size: 22px;
                line-height: 50px;
                color: $color_light_blue;
                transition: all .3s;
            }

            &:hover
            {
                color: white;
                text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
            }

            &:hover li
            {
                color: white;
            }
        }
    }

    #workScope_step1
    {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: $color_mega_dark_blue;
        transform: translateX(-100%);
        transition: .5s all;
        z-index: 10;

        &.isShowing
        {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    #workScope_step2
    {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: $color_very_dark_blue;
        transform: translateX(100%);
        transition: .5s all;
        z-index: 9;

        &.isShowing
        {
            transform: translateX(0%);
        }

        &.isHidden
        {
            transform: translateX(-100%);
        }

        .inputs
        {
            display: flex;
            flex-direction: row;

            .nameInput
            {
                border: none;
                background: $color_mega_dark_blue;
                height: 50px;
                width: 200px;
                flex-grow: 1;
                margin: 30px 30px;
                padding: 10px 20px;
                color: white;
                font-size: 28px;
                border-radius: 4px 4px 4px 4px;
                text-align: center;
            }
        }

        .nextBtn
        {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 160px;
            height: 50px;
            font-size: 24px;
            text-align: center;
            line-height: 50px;
            color: $color_very_light_blue;
            cursor: pointer;
            transition: .5s all;

            opacity: .5;

            &:hover
            {
                opacity: 1;
                transform: scale(1.2, 1.2);
            }
        }
    }

    #workScope_step3
    {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: $color_very_dark_blue;
        transform: translateX(100%);
        transition: .5s all;
        z-index: 8;

        &.isShowing
        {
            transform: translateX(0%);
        }

        &.isHidden
        {
            transform: translateX(-100%);
        }

        .nameInput
        {
            display: block;
            border: none;
            background: $color_mega_dark_blue;
            height: 50px;
            width: 500px;
            margin: 0px auto;
            padding: 10px 20px;
            color: white;
            font-size: 28px;
            border-radius: 4px 4px 4px 4px;
            text-align: center;
        }

        .nextBtn
        {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 160px;
            height: 50px;
            font-size: 24px;
            text-align: center;
            line-height: 50px;
            color: $color_very_light_blue;
            cursor: pointer;
            transition: .5s all;

            opacity: .5;

            &:hover
            {
                opacity: 1;
                transform: scale(1.2, 1.2);
            }
        }
    }

    #workScope_step4
    {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: $color_very_dark_blue;
        transform: translateX(100%);
        transition: .5s all;
        z-index: 7;

        &.isShowing
        {
            transform: translateX(0%);
        }

        &.isHidden
        {
            transform: translateX(-100%);
        }

        .nameInput
        {
            display: block;
            border: none;
            background: $color_mega_dark_blue;
            height: 110px;
            width: 620px;
            margin: 10px auto;
            color: white;
            font-size: 12px;
            border-radius: 4px 4px 4px 4px;
            resize: none;
        }

        .nextBtn
        {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 160px;
            height: 50px;
            font-size: 24px;
            text-align: center;
            line-height: 50px;
            color: $color_very_light_blue;
            cursor: pointer;
            transition: .5s all;

            opacity: .5;

            &:hover
            {
                opacity: 1;
                transform: scale(1.2, 1.2);
            }
        }
    }

    #workScope_step5
    {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: $color_very_dark_blue;
        transform: translateX(100%);
        transition: .5s all;
        z-index: 6;

        &.isShowing
        {
            transform: translateX(0%);
        }

        &.isHidden
        {
            transform: translateX(-100%);
        }

        .nameInput
        {
            border: none;
            background: $color_mega_dark_blue;
            height: 140px;
            width: 520px;
            margin: 10px 20px;
            color: white;
            font-size: 12px;
            border-radius: 4px 4px 4px 4px;
            resize: none;
        }

        .text-xs-center {
            text-align: center;
        }

        .g-recaptcha {
            display: inline-block;
        }

        .nextBtn
        {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 160px;
            height: 50px;
            font-size: 24px;
            text-align: center;
            line-height: 50px;
            color: $color_very_light_blue;
            cursor: pointer;
            transition: .5s all;

            opacity: .5;

            &:hover
            {
                opacity: 1;
                transform: scale(1.2, 1.2);
            }
        }
    }

    #workScope_step6
    {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: $color_very_dark_blue;
        transform: translateX(100%);
        transition: .5s all;
        z-index: 5;

        &.isShowing
        {
            transform: translateX(0%);
        }

        &.isHidden
        {
            transform: translateX(-100%);
        }

        .nameInput
        {
            border: none;
            background: $color_mega_dark_blue;
            height: 140px;
            width: 520px;
            margin: 10px 20px;
            color: white;
            font-size: 12px;
            border-radius: 4px 4px 4px 4px;
            resize: none;
        }

        .nextBtn
        {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 160px;
            height: 50px;
            font-size: 24px;
            text-align: center;
            line-height: 50px;
            color: $color_very_light_blue;
            cursor: pointer;
            transition: .5s all;

            opacity: .5;

            &:hover
            {
                opacity: 1;
                transform: scale(1.2, 1.2);
            }
        }
    }
}

#ideaLine{
    background: $color_extreme_dark_blue;
    height: 100px;

    li
    {
        list-style: none;
        font-family: $font_ideaLine;
        font-size: 28px;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
        color: white;
        line-height: 100px;
    }
}

#projects
{
    background: $color_light_blue;
    height: 650px;
    color: $color_very_dark_blue;

    .wrapper
    {
        position: absolute;
        height: 650px;
        width: 100%;
        top: 50%;
        margin-top: -275px;

        .headline
        {
            width: 100%;
            height: 60px;
            text-align: center;

            li
            {
                list-style: none;
                font-size: 42px;
                line-height: 60px;
            }
        }

        .cutline
        {
            height: 3px;
            width: 70%;
            margin: auto;
            background: $color_very_dark_blue;
            margin-bottom: 50px;
        }

        .projects
        {
            .project
            {
                float:left;
                position: relative;
                width: 30%;
                padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
                margin:1.66%; /* you change this to "contain" if you don't want the images to be cropped */
                background: rgba(0, 0, 0, 0.2);
                overflow: hidden;

                .caption
                {
                    transition: all .5s cubic-bezier(.87, -.41, .19, 1.44), .5s color linear;

                    transform: translateX(200px);

                    position: absolute;
                    top: 20px;
                    right: 0px;
                    left: 20px;
                    border-radius: 8px 0px 0px 8px;
                    background: rgba(0, 0, 0, 0.9);
                    text-align: center;
                    font-size: 20px;
                    padding: 5px;
                    color: white;

                    box-shadow: 20px 0px 0 rgba(0, 0, 0, 0.9);
                }

                &:hover .caption
                {
                    transform: translateX(0px);
                }

                .optionLine
                {
                    position: absolute;
                    bottom: 15px;
                    left: 0px;
                    right: 0px;
                    background: rgba(0, 0, 0, 0.8);
                    text-align: center;
                    height: 60px;

                    transform: translateY(100px);
                    opacity: 0;

                    transition: all .2s ease-out;

                    .viewBtn
                    {
                        display: inline-block;
                        line-height: 14px;
                        font-size: 24px;
                        font-family: $fonts;
                        transition: .1s all;


                        background: #0087cc;
                        border-radius: 14px;
                        box-shadow: 0 5px 0 #006599,
                                    0px 0px 60px rgba(0, 0, 0, 0.2);
                        color: #fff;
                        cursor: pointer;
                        outline: 2px;
                        padding: 10px 18px;
                        margin: 5px 5px;
                        cursor: pointer;

                        &:hover
                        {
                            color: white;
                        }

                        &:active {
                          box-shadow: 0 2px 0 #006599,
                                      0px 0px 60px rgba(0, 0, 0, 0.1);

                         transform: translateY(3px);
                        }

                        &.disabled
                        {
                            color: gray;
                            cursor: default;
                            background: #005580;
                            box-shadow: 0 5px 0 #004466,
                                      0px 0px 60px rgba(0, 0, 0, 0.1);

                            &:active
                            {
                                box-shadow: 0 5px 0 #004466,
                                      0px 0px 60px rgba(0, 0, 0, 0.1);
                                transform: translateY(0px);
                            }
                        }
                    }

                    .reposBtn
                    {
                        display: inline-block;
                        line-height: 14px;
                        font-size: 24px;
                        font-family: $fonts;
                        transition: .1s all;


                        background: #0087cc;
                        border-radius: 14px;
                        box-shadow: 0 5px 0 #006599,
                                    0px 0px 60px rgba(0, 0, 0, 0.2);
                        color: #fff;
                        cursor: pointer;
                        outline: 2px;
                        padding: 10px 18px;
                        margin: 5px 5px;
                        cursor: pointer;

                        &:hover
                        {
                            color: white;
                        }

                        &:active {
                          box-shadow: 0 2px 0 #006599,
                                      0px 0px 60px rgba(0, 0, 0, 0.1);

                          transform: translateY(3px);
                        }

                        &.disabled
                        {
                            color: gray;
                            cursor: default;
                            background: #005580;
                            box-shadow: 0 5px 0 #004466,
                                      0px 0px 60px rgba(0, 0, 0, 0.1);

                            &:active
                            {
                                box-shadow: 0 5px 0 #004466,
                                      0px 0px 60px rgba(0, 0, 0, 0.1);
                                transform: translateY(0px);
                            }
                        }
                    }
                }

                &:hover .optionLine
                {
                    transform: translateX(0px);
                    opacity: 1;
                }

                &.etics
                {
                    background-image: $pic_proj_etics;
                    background-position:center left;
                    background-repeat:no-repeat;
                    background-size: cover;
                }

                &.stesi
                {
                    background-image: $pic_proj_stesi;
                    background-position:center left;
                    background-repeat:no-repeat;
                    background-size: cover;
                }

                &.ehc
                {
                    background-image: $pic_proj_ehc;
                    background-position:center center;
                    background-repeat:no-repeat;
                    background-size: cover;
                }

                &.whiteVoid
                {
                    background-image: $pic_proj_whitevoid;
                    background-position:center center;
                    background-repeat:no-repeat;
                    background-size: cover;
                }
            }
        }


        /*
        .project
        {
            position: relative;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            cursor: pointer;

            &:hover .clickAnounce
            {
                opacity: 1;
            }

            .ppicture
            {
                flex-shrink: 0;
                width: 100px;
                height: 100px;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 5px;
            }

            .mainSection
            {
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                .title
                {
                    color: #00c2ff;
                    height: 30px;
                    flex-shrink: 0;
                    font-size: 18px;
                    line-height: 30px;
                    margin: 2px;
                }

                .desc
                {
                    color: #6adbff;
                    flex-grow: 1;

                    li
                    {
                        list-style: none;
                        text-align: left;
                        margin: 5px;
                        font-size: 13px;
                    }
                }
            }

            .clickAnounce
            {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                z-index: 2;
                opacity: 0;

                transition: .4s all;
            }
        }
        */
    }
}

#projects .wrapper .project:hover .clickAnounce
{
    opacity: 1;
}

#projects .wrapper .project .clickAnounce li
{
    width: 100%;
    text-align: center;
    font-size: 32px;
    list-style: none;
    line-height: 100px;
    color: white;
    text-shadow: 0px 0px 1px white;
}

#endZone
{
    height: 80px;
    background: $color_extreme_dark_blue;
    border-radius: 0px 0px 18px 18px;
    border-bottom: 4px solid $color_light_blue;
}

#footer
{
    height: 420px;
    width: 100%;
    background: $color_extreme_dark_blue;
    margin-top: 150px;
    //box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);

    .wrapper
    {
        height: 100%;
        width: 720px;
        margin: auto;
        background-color: $color_extreme_dark_blue;

        li
        {
            list-style: none;
            width: 100%;
            margin: auto;
            line-height: 30px;
            text-align: center;
            font-family: $fonts;
            color: $color_light_blue;
        }

        .seperator
        {
          width: 90%;
          height: 2px;
          border-radius: 8px 8px 8px 8px;
          background: $color_light_blue;
          margin: auto;
        }

        .impressum
        {
          text-align: left;
          margin-top: 10px;
          margin-left: 120px;
          font-size: 26px;
        }
    }

    table
    {
        margin: auto;
        width: 520px;
        font-family: 'Lato',verdana, sans-serif;
        font-size: 18px;
        text-align: left;
    }

    table tr td
    {
        text-align: left;
        color: $color_light_blue;
    }
}

#companys
{
    background: $color_extreme_dark_blue;
    height: 280px;

    .wrapper
    {
        position: absolute;
        top: 50%;
        height: 200px;
        width: 100%;
        margin-top: -100px;

        li
        {
            width: 100%;
            list-style: none;
            font-size: 42px;
            line-height: 70px;
            color: $color_light_blue;
            text-align: center;
            height: 70px;
        }
    }

    .companyList
    {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color_very_dark_blue;

        .company
        {
            width: 150px;
            height: 150px;
            margin: 10px;
            transition: all .2s;

            &:hover
            {
                transform: scale(1.1, 1.1);
            }

            &.company_ejot
            {
                background-image: $pic_comp_ejot;
                background-position:center left;
                background-repeat:no-repeat;
                background-size: contain;
            }

            &.company_nseven
            {
                background-image: $pic_comp_nseven;
                background-position:center left;
                background-repeat:no-repeat;
                background-size: contain;
            }
        }
    }
}

span.fancy
{
    font-family: $fonts;
}

span.bold
{
    font-weight: 800;
}
