@import url("https://fonts.googleapis.com/css?family=Lobster|Ubuntu");
html, body {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  padding: 0px; }

body {
  background-color: #00688b; }

a {
  text-decoration: none;
  color: aqua; }

nav {
  background-color: #004f69;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
  z-index: 1300; }
  nav ul {
    width: 720px;
    height: 100%;
    padding: 0px;
    margin: auto; }
    nav ul li {
      list-style: none;
      width: 26%;
      float: left;
      text-align: center;
      height: 100%;
      color: white;
      cursor: pointer;
      line-height: 60px;
      font-size: 22px;
      color: #0086b3;
      transition: .3s all; }
      nav ul li.short {
        width: 11%; }
      nav ul li:hover {
        color: white;
        box-shadow: inset 0px -5px 0px #00bfff; }
      nav ul li a {
        text-decoration: none;
        color: #0086b3; }
        nav ul li a:hover {
          text-decoration: none;
          color: #0086b3; }

section {
  margin: auto;
  width: 720px;
  position: relative; }

#subShadowContent {
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  margin: auto;
  width: 720px;
  border-radius: 18px 18px 18px 18px;
  transform: translateY(700px);
  opacity: 0;
  transition: all 1.2s ease-in-out; }
  #subShadowContent.isShowing {
    opacity: 1;
    transform: translateY(0px); }

#picture {
  margin-top: 100px;
  z-index: 80;
  box-shadow: none;
  opacity: 0;
  transform: translateY(-700px);
  transition: all 1.2s; }
  #picture.isShowing {
    opacity: 1;
    transform: translateY(0px); }
  #picture .picMe {
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 200px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
    background-image: url("../../gfx/profilePicMin.jpg");
    background-size: cover;
    border: 5px solid #00688b;
    box-shadow: inset 4px 4px 0px rgba(255, 255, 255, 0.2), inset -4px -4px 0px rgba(0, 0, 0, 0.2); }
    #picture .picMe:hover .picLayover {
      opacity: 1; }
    #picture .picMe .picLayover {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 200px;
      opacity: 0;
      transition: .5s all; }
      #picture .picMe .picLayover li {
        color: rgba(255, 255, 255, 0.5);
        margin: auto;
        width: 150px;
        height: 40px;
        list-style: none;
        font-size: 22px;
        text-align: center;
        border: 3px solid rgba(255, 255, 255, 0.5);
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        transition: .5s all; }
        #picture .picMe .picLayover li:hover {
          color: white;
          border: 3px solid white; }
        #picture .picMe .picLayover li:hover a {
          color: white; }
        #picture .picMe .picLayover li a {
          color: rgba(255, 255, 255, 0.5);
          transition: .5s all;
          text-decoration: none; }

.pinched {
  position: absolute;
  left: 10px;
  right: 10px;
  padding: 15px;
  margin: 22px 0 3em;
  color: #fff;
  background: #003A4D;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 20px 20px 10px 10px;
  height: 590px;
  opacity: 0;
  z-index: -1;
  transition: all .4s;
  transform: translateY(700px);
  border: 4px solid #004f69; }
  .pinched:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -15px;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #003A4D transparent;
    display: block;
    width: 0;
    z-index: 1; }
  .pinched.isShowing {
    transform: translateY(0px);
    opacity: 1;
    z-index: 1200; }
  .pinched .introTxt {
    position: absolute;
    top: 50%;
    height: 550px;
    margin-top: -275px;
    font-size: 16px;
    line-height: 30px;
    padding: 0px 20px;
    font-size: 18px; }
    .pinched .introTxt .super {
      font-size: 24px; }
    .pinched .introTxt .cutline {
      height: 2px;
      width: 99%;
      background: white;
      margin: 20px auto;
      border-radius: 8px 8px; }

#tanszone {
  margin-top: -65px;
  height: 80px;
  background: #00435a;
  border-radius: 18px 18px 0px 0px;
  border-top: 4px solid #0086b3; }
  #tanszone li {
    list-style: none;
    color: white;
    float: left;
    width: 240px;
    height: 100%;
    line-height: 80px;
    text-align: center;
    font-size: 32px; }

#aboutMe {
  background: #0086b3;
  height: 350px;
  color: #004f69;
  font-family: "Ubuntu", sans-serif; }
  #aboutMe .moreInfoBtn {
    position: relative;
    top: 20px;
    margin: auto;
    text-align: center;
    width: 200px;
    height: 50px;
    border: 5px solid #004f69;
    border-radius: 8px;
    font-size: 21px;
    line-height: 40px;
    cursor: pointer;
    transition: all .5s; }
    #aboutMe .moreInfoBtn:after {
      transition: all .5s;
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      margin-left: -15px;
      border-style: solid;
      border-width: 0 15px 0px;
      border-color: #004f69 transparent;
      display: block;
      width: 0;
      z-index: 1; }
    #aboutMe .moreInfoBtn:hover {
      border: 5px solid white;
      color: white; }
      #aboutMe .moreInfoBtn:hover:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -15px;
        border-style: solid;
        border-width: 0 15px 15px;
        border-color: white transparent;
        display: block;
        width: 0;
        z-index: 1; }
    #aboutMe .moreInfoBtn.activated {
      border: 5px solid white;
      color: white; }
      #aboutMe .moreInfoBtn.activated:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -15px;
        border-style: solid;
        border-width: 0 15px 15px;
        border-color: white transparent;
        display: block;
        width: 0;
        z-index: 1; }
  #aboutMe .skillset {
    margin-top: 30px; }
    #aboutMe .skillset .skill {
      display: inline-block;
      margin: 5px 5px;
      background: #004f69;
      color: white;
      min-width: 100px;
      height: 40px;
      font-size: 23px;
      text-align: center;
      padding: 0px 15px;
      line-height: 40px;
      border-radius: 12px 12px 12px 12px;
      cursor: pointer;
      transform: translateX(-200px);
      opacity: 0;
      transition: all .5s; }
      #aboutMe .skillset .skill.isShowing {
        transform: translateX(0px);
        opacity: 1; }
      #aboutMe .skillset .skill:hover {
        background: #003A4D; }

#jobDesc {
  background: #0086b3;
  display: flex;
  flex-direction: row;
  height: 0px;
  transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  overflow: hidden; }
  #jobDesc .word {
    flex-grow: 1;
    width: 200px;
    text-align: center;
    line-height: 100px;
    color: #003A4D;
    font-size: 32px;
    list-style: none;
    opacity: 0;
    transform: translateY(-150px);
    transition: all 1.6s cubic-bezier(0.87, -0.41, 0.19, 1.44); }
    #jobDesc .word.isShowing {
      opacity: 1;
      transform: translateY(0px); }
  #jobDesc .bottom {
    transform: translateY(150px); }
  #jobDesc .first {
    flex-grow: 0;
    transform: translateX(-100px);
    text-align: right; }
    #jobDesc .first.isShowing {
      opacity: 1;
      transform: translateX(0px), scale(1.5, 1.5); }
  #jobDesc .sec {
    transform: translateX(100px);
    text-align: left;
    flex-grow: 0; }
    #jobDesc .sec.isShowing {
      opacity: 1;
      transform: translateX(0px), scale(1.5, 1.5); }
  #jobDesc.isShowing {
    height: 100px; }

#socialMedia {
  background: #00435a;
  height: 0px;
  transition: all .2s; }
  #socialMedia ul {
    margin: auto;
    width: 300px;
    height: 100%;
    padding: 0px; }
    #socialMedia ul a {
      opacity: 0;
      list-style: none;
      width: 100px;
      height: 100px;
      margin: auto;
      text-align: center;
      line-height: 100px;
      font-size: 62px;
      color: #0086b3;
      cursor: pointer;
      float: left;
      transform: translateX(-60px);
      transition: 0.5s all cubic-bezier(0.87, -0.41, 0.19, 1.44); }
      #socialMedia ul a:hover i {
        transform: scale(1.2, 1.2);
        color: white; }
      #socialMedia ul a.isShowing {
        opacity: 1;
        transform: translateX(0px); }
      #socialMedia ul a i {
        transition: 0.3s all cubic-bezier(0.87, -0.41, 0.19, 1.44), 0.4s color linear; }
  #socialMedia.isShowing {
    height: 100px; }

#skills {
  background: #0086b3;
  height: 380px;
  color: #004f69; }
  #skills .wrapper {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 50%;
    margin-top: -150px; }
    #skills .wrapper .headline {
      width: 100%;
      height: 60px;
      text-align: center; }
      #skills .wrapper .headline li {
        list-style: none;
        font-size: 42px;
        line-height: 60px; }
    #skills .wrapper .cutline {
      margin-top: 20px;
      height: 3px;
      width: 70%;
      margin: auto;
      background: #004f69; }
    #skills .wrapper table {
      margin: auto;
      width: 70%; }
    #skills .wrapper table, #skills .wrapper th, #skills .wrapper td {
      border-collapse: collapse; }
    #skills .wrapper th, #skills .wrapper td {
      padding: 25px;
      color: #004f69;
      font-size: 16px;
      font-weight: 800; }
    #skills .wrapper .skillItem {
      opacity: 0;
      transform: translateX(-30px);
      transition: all 1s; }
      #skills .wrapper .skillItem.isShowing {
        opacity: 1;
        transform: translateX(0px); }

/*
#skills th, #skills td
{
    padding: 25px;
    color: #004f69;
    font-size: 16px;
    font-weight: 800;
}*/
.right {
  display: inline-block;
  float: right;
  color: #00bfff; }

#liveProgramming {
  height: 319px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-image: url("../../gfx/programming1-comp.gif");
  background-size: auto auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }
  #liveProgramming:hover .disclaimer {
    opacitiy: 1;
    transform: translateX(0%); }
  #liveProgramming .disclaimer {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -50px;
    height: 100px;
    width: 270px;
    opacitiy: 0;
    border-bottom: 100px solid rgba(0, 0, 0, 0.8);
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 300px;
    line-height: 100px;
    transform: translateX(100%);
    transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44); }
    #liveProgramming .disclaimer li {
      font-size: 32px;
      color: white;
      text-align: center;
      list-style: none; }

#contact {
  background: #00435a;
  height: 380px; }
  #contact .wrapper {
    position: absolute;
    top: 50%;
    height: 200px;
    width: 100%;
    margin-top: -100px; }
    #contact .wrapper li {
      width: 100%;
      list-style: none;
      font-size: 42px;
      line-height: 70px;
      color: #0086b3;
      text-align: center;
      height: 70px; }
  #contact .contactMeBtn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    height: 100px;
    opacity: 0;
    transform: scale(0.2, 0.2);
    transition: 3s all;
    border: 0; }
    #contact .contactMeBtn a {
      display: inline-block;
      line-height: 100px;
      font-size: 74px;
      font-family: "Ubuntu", sans-serif;
      transition: .2s all;
      background: #0087cc;
      border-radius: 14px;
      box-shadow: 0 8px 0 #006599, 0px 0px 60px rgba(0, 0, 0, 0.2);
      color: #fff;
      cursor: pointer;
      margin: 10px 10px;
      outline: 2px;
      padding: 12px 20px; }
      #contact .contactMeBtn a:hover {
        color: white; }
      #contact .contactMeBtn a:active {
        box-shadow: 0 2px 0 #006599, 0px 0px 60px rgba(0, 0, 0, 0.1);
        transform: translateY(6px); }
    #contact .contactMeBtn.isShowing {
      opacity: 1;
      transform: scale(1, 1); }

#workScope {
  height: 300px;
  position: relative;
  overflow: hidden;
  transition: .3s all; }
  #workScope li {
    list-style: none;
    font-size: 32px;
    text-align: center;
    color: white;
    line-height: 100px; }
  #workScope.isClosed {
    height: 0px; }
  #workScope.isHalfClosed {
    height: 100px; }
  #workScope #stepCounter {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 75px;
    height: 50px;
    background: white;
    border-radius: 999px;
    z-index: 99;
    opacity: 0.5;
    transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
    cursor: pointer; }
    #workScope #stepCounter p {
      text-align: center;
      font-size: 10px;
      line-height: 10px; }
    #workScope #stepCounter .cText {
      list-style: none;
      font-size: 18px;
      text-align: center;
      line-height: 10px; }
    #workScope #stepCounter:hover {
      opacity: 1; }
  #workScope #workScope_error {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    color: white;
    z-index: 999; }
    #workScope #workScope_error p {
      text-align: center;
      font-size: 18px; }
  #workScope #typeWrapper {
    display: flex;
    flex-direction: row;
    margin: 40px 20px; }
    #workScope #typeWrapper #type {
      flex-grow: 1;
      text-align: center;
      color: white;
      font-size: 40px;
      color: #0086b3;
      transition: all .3s;
      cursor: pointer; }
      #workScope #typeWrapper #type li {
        font-size: 22px;
        line-height: 50px;
        color: #0086b3;
        transition: all .3s; }
      #workScope #typeWrapper #type:hover {
        color: white;
        text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4); }
      #workScope #typeWrapper #type:hover li {
        color: white; }
  #workScope #workScope_step1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #003A4D;
    transform: translateX(-100%);
    transition: .5s all;
    z-index: 10; }
    #workScope #workScope_step1.isShowing {
      opacity: 1;
      transform: translateX(0%); }
  #workScope #workScope_step2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #004f69;
    transform: translateX(100%);
    transition: .5s all;
    z-index: 9; }
    #workScope #workScope_step2.isShowing {
      transform: translateX(0%); }
    #workScope #workScope_step2.isHidden {
      transform: translateX(-100%); }
    #workScope #workScope_step2 .inputs {
      display: flex;
      flex-direction: row; }
      #workScope #workScope_step2 .inputs .nameInput {
        border: none;
        background: #003A4D;
        height: 50px;
        width: 200px;
        flex-grow: 1;
        margin: 30px 30px;
        padding: 10px 20px;
        color: white;
        font-size: 28px;
        border-radius: 4px 4px 4px 4px;
        text-align: center; }
    #workScope #workScope_step2 .nextBtn {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 160px;
      height: 50px;
      font-size: 24px;
      text-align: center;
      line-height: 50px;
      color: #00bfff;
      cursor: pointer;
      transition: .5s all;
      opacity: .5; }
      #workScope #workScope_step2 .nextBtn:hover {
        opacity: 1;
        transform: scale(1.2, 1.2); }
  #workScope #workScope_step3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #004f69;
    transform: translateX(100%);
    transition: .5s all;
    z-index: 8; }
    #workScope #workScope_step3.isShowing {
      transform: translateX(0%); }
    #workScope #workScope_step3.isHidden {
      transform: translateX(-100%); }
    #workScope #workScope_step3 .nameInput {
      display: block;
      border: none;
      background: #003A4D;
      height: 50px;
      width: 500px;
      margin: 0px auto;
      padding: 10px 20px;
      color: white;
      font-size: 28px;
      border-radius: 4px 4px 4px 4px;
      text-align: center; }
    #workScope #workScope_step3 .nextBtn {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 160px;
      height: 50px;
      font-size: 24px;
      text-align: center;
      line-height: 50px;
      color: #00bfff;
      cursor: pointer;
      transition: .5s all;
      opacity: .5; }
      #workScope #workScope_step3 .nextBtn:hover {
        opacity: 1;
        transform: scale(1.2, 1.2); }
  #workScope #workScope_step4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #004f69;
    transform: translateX(100%);
    transition: .5s all;
    z-index: 7; }
    #workScope #workScope_step4.isShowing {
      transform: translateX(0%); }
    #workScope #workScope_step4.isHidden {
      transform: translateX(-100%); }
    #workScope #workScope_step4 .nameInput {
      display: block;
      border: none;
      background: #003A4D;
      height: 110px;
      width: 620px;
      margin: 10px auto;
      color: white;
      font-size: 12px;
      border-radius: 4px 4px 4px 4px;
      resize: none; }
    #workScope #workScope_step4 .nextBtn {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 160px;
      height: 50px;
      font-size: 24px;
      text-align: center;
      line-height: 50px;
      color: #00bfff;
      cursor: pointer;
      transition: .5s all;
      opacity: .5; }
      #workScope #workScope_step4 .nextBtn:hover {
        opacity: 1;
        transform: scale(1.2, 1.2); }
  #workScope #workScope_step5 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #004f69;
    transform: translateX(100%);
    transition: .5s all;
    z-index: 6; }
    #workScope #workScope_step5.isShowing {
      transform: translateX(0%); }
    #workScope #workScope_step5.isHidden {
      transform: translateX(-100%); }
    #workScope #workScope_step5 .nameInput {
      border: none;
      background: #003A4D;
      height: 140px;
      width: 520px;
      margin: 10px 20px;
      color: white;
      font-size: 12px;
      border-radius: 4px 4px 4px 4px;
      resize: none; }
    #workScope #workScope_step5 .text-xs-center {
      text-align: center; }
    #workScope #workScope_step5 .g-recaptcha {
      display: inline-block; }
    #workScope #workScope_step5 .nextBtn {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 160px;
      height: 50px;
      font-size: 24px;
      text-align: center;
      line-height: 50px;
      color: #00bfff;
      cursor: pointer;
      transition: .5s all;
      opacity: .5; }
      #workScope #workScope_step5 .nextBtn:hover {
        opacity: 1;
        transform: scale(1.2, 1.2); }
  #workScope #workScope_step6 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #004f69;
    transform: translateX(100%);
    transition: .5s all;
    z-index: 5; }
    #workScope #workScope_step6.isShowing {
      transform: translateX(0%); }
    #workScope #workScope_step6.isHidden {
      transform: translateX(-100%); }
    #workScope #workScope_step6 .nameInput {
      border: none;
      background: #003A4D;
      height: 140px;
      width: 520px;
      margin: 10px 20px;
      color: white;
      font-size: 12px;
      border-radius: 4px 4px 4px 4px;
      resize: none; }
    #workScope #workScope_step6 .nextBtn {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 160px;
      height: 50px;
      font-size: 24px;
      text-align: center;
      line-height: 50px;
      color: #00bfff;
      cursor: pointer;
      transition: .5s all;
      opacity: .5; }
      #workScope #workScope_step6 .nextBtn:hover {
        opacity: 1;
        transform: scale(1.2, 1.2); }

#ideaLine {
  background: #00435a;
  height: 100px; }
  #ideaLine li {
    list-style: none;
    font-family: "Lobster", cursive;
    font-size: 28px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    color: white;
    line-height: 100px; }

#projects {
  background: #0086b3;
  height: 650px;
  color: #004f69; }
  #projects .wrapper {
    position: absolute;
    height: 650px;
    width: 100%;
    top: 50%;
    margin-top: -275px;
        /*
        .project
        {
            position: relative;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            cursor: pointer;

            &:hover .clickAnounce
            {
                opacity: 1;
            }

            .ppicture
            {
                flex-shrink: 0;
                width: 100px;
                height: 100px;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 5px;
            }

            .mainSection
            {
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                .title
                {
                    color: #00c2ff;
                    height: 30px;
                    flex-shrink: 0;
                    font-size: 18px;
                    line-height: 30px;
                    margin: 2px;
                }

                .desc
                {
                    color: #6adbff;
                    flex-grow: 1;

                    li
                    {
                        list-style: none;
                        text-align: left;
                        margin: 5px;
                        font-size: 13px;
                    }
                }
            }

            .clickAnounce
            {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                z-index: 2;
                opacity: 0;

                transition: .4s all;
            }
        }
        */ }
    #projects .wrapper .headline {
      width: 100%;
      height: 60px;
      text-align: center; }
      #projects .wrapper .headline li {
        list-style: none;
        font-size: 42px;
        line-height: 60px; }
    #projects .wrapper .cutline {
      height: 3px;
      width: 70%;
      margin: auto;
      background: #004f69;
      margin-bottom: 50px; }
    #projects .wrapper .projects .project {
      float: left;
      position: relative;
      width: 30%;
      padding-bottom: 30%;
      /* = width for a 1:1 aspect ratio */
      margin: 1.66%;
      /* you change this to "contain" if you don't want the images to be cropped */
      background: rgba(0, 0, 0, 0.2);
      overflow: hidden; }
      #projects .wrapper .projects .project .caption {
        transition: all 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44), 0.5s color linear;
        transform: translateX(200px);
        position: absolute;
        top: 20px;
        right: 0px;
        left: 20px;
        border-radius: 8px 0px 0px 8px;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
        font-size: 20px;
        padding: 5px;
        color: white;
        box-shadow: 20px 0px 0 rgba(0, 0, 0, 0.9); }
      #projects .wrapper .projects .project:hover .caption {
        transform: translateX(0px); }
      #projects .wrapper .projects .project .optionLine {
        position: absolute;
        bottom: 15px;
        left: 0px;
        right: 0px;
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
        height: 60px;
        transform: translateY(100px);
        opacity: 0;
        transition: all .2s ease-out; }
        #projects .wrapper .projects .project .optionLine .viewBtn {
          display: inline-block;
          line-height: 14px;
          font-size: 24px;
          font-family: "Ubuntu", sans-serif;
          transition: .1s all;
          background: #0087cc;
          border-radius: 14px;
          box-shadow: 0 5px 0 #006599, 0px 0px 60px rgba(0, 0, 0, 0.2);
          color: #fff;
          cursor: pointer;
          outline: 2px;
          padding: 10px 18px;
          margin: 5px 5px;
          cursor: pointer; }
          #projects .wrapper .projects .project .optionLine .viewBtn:hover {
            color: white; }
          #projects .wrapper .projects .project .optionLine .viewBtn:active {
            box-shadow: 0 2px 0 #006599, 0px 0px 60px rgba(0, 0, 0, 0.1);
            transform: translateY(3px); }
          #projects .wrapper .projects .project .optionLine .viewBtn.disabled {
            color: gray;
            cursor: default;
            background: #005580;
            box-shadow: 0 5px 0 #004466, 0px 0px 60px rgba(0, 0, 0, 0.1); }
            #projects .wrapper .projects .project .optionLine .viewBtn.disabled:active {
              box-shadow: 0 5px 0 #004466, 0px 0px 60px rgba(0, 0, 0, 0.1);
              transform: translateY(0px); }
        #projects .wrapper .projects .project .optionLine .reposBtn {
          display: inline-block;
          line-height: 14px;
          font-size: 24px;
          font-family: "Ubuntu", sans-serif;
          transition: .1s all;
          background: #0087cc;
          border-radius: 14px;
          box-shadow: 0 5px 0 #006599, 0px 0px 60px rgba(0, 0, 0, 0.2);
          color: #fff;
          cursor: pointer;
          outline: 2px;
          padding: 10px 18px;
          margin: 5px 5px;
          cursor: pointer; }
          #projects .wrapper .projects .project .optionLine .reposBtn:hover {
            color: white; }
          #projects .wrapper .projects .project .optionLine .reposBtn:active {
            box-shadow: 0 2px 0 #006599, 0px 0px 60px rgba(0, 0, 0, 0.1);
            transform: translateY(3px); }
          #projects .wrapper .projects .project .optionLine .reposBtn.disabled {
            color: gray;
            cursor: default;
            background: #005580;
            box-shadow: 0 5px 0 #004466, 0px 0px 60px rgba(0, 0, 0, 0.1); }
            #projects .wrapper .projects .project .optionLine .reposBtn.disabled:active {
              box-shadow: 0 5px 0 #004466, 0px 0px 60px rgba(0, 0, 0, 0.1);
              transform: translateY(0px); }
      #projects .wrapper .projects .project:hover .optionLine {
        transform: translateX(0px);
        opacity: 1; }
      #projects .wrapper .projects .project.etics {
        background-image: url("../../gfx/eticsScreen-comp.png");
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover; }
      #projects .wrapper .projects .project.stesi {
        background-image: url("../../gfx/stesiscreen-comp.png");
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover; }
      #projects .wrapper .projects .project.ehc {
        background-image: url("../../gfx/ehcscreen-comp.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; }
      #projects .wrapper .projects .project.whiteVoid {
        background-image: url("../../gfx/whiteVoid_logo-comp.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; }

#projects .wrapper .project:hover .clickAnounce {
  opacity: 1; }

#projects .wrapper .project .clickAnounce li {
  width: 100%;
  text-align: center;
  font-size: 32px;
  list-style: none;
  line-height: 100px;
  color: white;
  text-shadow: 0px 0px 1px white; }

#endZone {
  height: 80px;
  background: #00435a;
  border-radius: 0px 0px 18px 18px;
  border-bottom: 4px solid #0086b3; }

#footer {
  height: 420px;
  width: 100%;
  background: #00435a;
  margin-top: 150px; }
  #footer .wrapper {
    height: 100%;
    width: 720px;
    margin: auto;
    background-color: #00435a; }
    #footer .wrapper li {
      list-style: none;
      width: 100%;
      margin: auto;
      line-height: 30px;
      text-align: center;
      font-family: "Ubuntu", sans-serif;
      color: #0086b3; }
    #footer .wrapper .seperator {
      width: 90%;
      height: 2px;
      border-radius: 8px 8px 8px 8px;
      background: #0086b3;
      margin: auto; }
    #footer .wrapper .impressum {
      text-align: left;
      margin-top: 10px;
      margin-left: 120px;
      font-size: 26px; }
  #footer table {
    margin: auto;
    width: 520px;
    font-family: 'Lato',verdana, sans-serif;
    font-size: 18px;
    text-align: left; }
  #footer table tr td {
    text-align: left;
    color: #0086b3; }

#companys {
  background: #00435a;
  height: 280px; }
  #companys .wrapper {
    position: absolute;
    top: 50%;
    height: 200px;
    width: 100%;
    margin-top: -100px; }
    #companys .wrapper li {
      width: 100%;
      list-style: none;
      font-size: 42px;
      line-height: 70px;
      color: #0086b3;
      text-align: center;
      height: 70px; }
  #companys .companyList {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #004f69; }
    #companys .companyList .company {
      width: 150px;
      height: 150px;
      margin: 10px;
      transition: all .2s; }
      #companys .companyList .company:hover {
        transform: scale(1.1, 1.1); }
      #companys .companyList .company.company_ejot {
        background-image: url("../../gfx/comp_ejot-comp.png");
        background-position: center left;
        background-repeat: no-repeat;
        background-size: contain; }
      #companys .companyList .company.company_nseven {
        background-image: url("../../gfx/comp_n7even-comp.png");
        background-position: center left;
        background-repeat: no-repeat;
        background-size: contain; }

span.fancy {
  font-family: "Ubuntu", sans-serif; }

span.bold {
  font-weight: 800; }

/*# sourceMappingURL=index.css.map */
